/* Forms */

input,
textarea {
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

input#edit-submit {
  width: auto;
  background-color: $primary_color;
}

.description {
  opacity: 0.65;
}
