/* Header */





// #hamburger {
//   cursor: pointer;
//   position: absolute;
//   top: 0; right: 0;
//   width: 3.75rem;
//   height: 3.75rem;

//   display: none;
//   @include mobile {
//     display: block;
//   }

//   .hamburger-inner {
//     position: absolute;
//     left: 0.5rem; right: 0.5rem; top: 50%;
//     transform: translateY(-50%);
//     height: 2px;
//     background: $text_color;

//     &:before,
//     &:after {
//       content: "";
//       position: absolute;
//       left: 0; right: 0;
//       height: 2px;
//       background: $text_color;
//       transition: all 0.2s;
//     }
//     &:before {
//       top: 0.75rem;
//     }
//     &:after {
//       bottom: 0.75rem;
//     }
//   }

//   .mobile-menu-opened & {
//     .hamburger-inner {
//       background: transparent;
//       &:before {
//         top: 0;
//         transform: rotate(45deg);
//       }
//       &:after {
//         bottom: 0;
//         transform: rotate(-45deg);
//       }
//     }
//   }
// }
