/* Messages */

.region-highlighted {
  position: absolute;
  top: 0; right: 0; left: 0;
}

.messages {
  min-height: 4rem;
  max-height: 20rem;
  overflow-y: auto;
  color: white;
  border: 0;
  box-shadow: none;
  padding: 1rem 0.5rem 1rem 4rem;
  background-size: 2rem 2rem;
  background-position: 1rem center;
  border-radius: 0;
  position: relative;

  .close-message {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 1rem; right: 1rem;
    cursor: pointer;
    background-image: url(../images/close-message-icon.svg);
    background-size: 2rem 2rem;
    background-position: center center;
    background-repeat: no-repeat;
  }

  @include sm-viewport {
    background-size: 1.5rem 1.5rem;
    padding-left: 3rem;

    &:after {
      top: 0.5rem; right: 0.5rem;
    }
  }

  .form-item & {
    font-size: 0.9rem;
  }

  a {
    color: white;
    text-decoration: underline;
  }

  ul {
    margin: 0.5rem 0 0;
  }
}

.messages + .messages {
  margin-top: 0;
  border-top: 1px solid white;
}

.messages--error {
  background-color: $message_error_color;
  background-image: url(../images/error-icon.svg);
}

.messages--status {
  background-color: $message_status_color;
  background-image: url(../images/status-icon.svg);
}

.messages--warning {
  background-color: $message_warning_color;
  background-image: url(../images/warning-icon.svg);
}
