/* Mixins */


/* Clearfix */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/* Vertical align */
@mixin vh-align($position: absolute, $left: 50%, $top: 50%){
  position: $position;
  top: $top; left: $left;
  transform: translateY(-50%) translateX(-50%);
  -ms-transform:translateY(-50%) translateX(-50%); /* IE */
  -moz-transform:translateY(-50%) translateX(-50%); /* Firefox */
  -webkit-transform:translateY(-50%) translateX(-50%); /* Safari and Chrome */
  -o-transform:translateY(-50%) translateX(-50%);
}

/* Font-smoothing */
@mixin font-smoothing {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: grayscale;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}
