/*
  Admin Toolbar
  Add classes to change position, margins, padding
  depending on toolbar location when logged-in.
*/

body.toolbar-horizontal {
  $toolbar-height: 54px;

  .region-highlighted {
    top: $toolbar-height;
  }
}
body.toolbar-vertical {
  $toolbar-height-vertical: 39px;

  .region-highlighted {
    top: $toolbar-height-vertical;
  }
}

// Gin toolbar font
.toolbar {
  font-family: Inter, -apple-system, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
