/* Custom typography */

html {
  color: $text_color;
  line-height: $line_height;
  font-size: $grid_size * 1.3;

  @include md-viewport {
    font-size: $grid_size * 1.4;
  }
  @include lg-viewport {
    font-size: $grid_size * 1.6;
  }
  @include xl-viewport {
    font-size: $grid_size * 1.8;
  }
}

.dialog-off-canvas-main-canvas {
  @include font-smoothing;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4, h5, h6 {
  font-size: 1rem;
}

p {
  margin: 1.6rem 0;
}
