/* Variables */


/* Colors */
$text_color: #111;
$primary_color: #1DCFFF;

/* Message colors */
$message_status_color: #00df73;
$message_warning_color: #f1a622;
$message_error_color: #d72c2c;

/* Grid sizing */
$grid_size: 10px;
$line_height: 1.6;

/* Column sizing for Flexboxgrid2 */
$gutter-width: $grid_size * 1.6;
$outer-margin: $grid_size * 3.2;
$gutter-compensation: calc( ( #{$gutter-width} * 0.5 ) * -1 );
$half-gutter-width: calc( #{$gutter-width} * 0.5 );

/* Breakpoint sizes */
$sm_width: 576px;
$md_width: 768px;
$lg_width: 992px;
$xl_width: 1200px;
