{#
/**
 * @file
 * Theme override of an image.
 *
 * Available variables:
 * - attributes: HTML attributes for the img tag.
 * - style_name: (optional) The name of the image style applied.
 *
 * @see template_preprocess_image()
 */
#}
{%
set classes = [
  style_name ? 'image-style-' ~ style_name|clean_class,
]
%}
<figure>
  <img{{ attributes.addClass(classes) }} />
  {% if attributes.title|render|trim is not empty %}
    <figcaption>{{ attributes.title|raw }}</figcaption>
  {% endif %}
</figure>
