langcode: en
status: true
dependencies:
  module:
    - system
  theme:
    - {{ machine_name }}
id: {{ machine_name }}_powered
theme: {{ machine_name }}
region: '-1'
weight: 10
provider: null
plugin: system_powered_by_block
settings:
  id: system_powered_by_block
  label: 'Powered by Drupal'
  provider: system
  label_display: '0'
visibility: {  }
