langcode: en
status: true
dependencies:
  module:
    - help
  theme:
    - {{ machine_name }}
id: {{ machine_name }}_help
theme: {{ machine_name }}
region: help
weight: -30
provider: null
plugin: help_block
settings:
  id: help_block
  label: Help
  provider: help
  label_display: '0'
visibility: {  }
