langcode: en
status: true
dependencies:
  theme:
    - {{ machine_name }}
id: {{ machine_name }}_page_title
theme: {{ machine_name }}
region: title
weight: -50
provider: null
plugin: page_title_block
settings:
  id: page_title_block
  label: 'Page title'
  provider: core
  label_display: '0'
visibility: {  }
