langcode: en
status: true
dependencies:
  config:
    - system.menu.main
  module:
    - system
  theme:
    - {{ machine_name }}
id: {{ machine_name }}_secondary_navigation
theme: {{ machine_name }}
region: sidebar_first
weight: 0
provider: null
plugin: 'system_menu_block:main'
settings:
  id: 'system_menu_block:main'
  label: 'Secondary navigation'
  provider: system
  label_display: '0'
  level: 2
  depth: 0
visibility: {  }
