name: {{ name }}
type: theme
base theme: {{ base_theme }}
description: {{ description }}
package: {{ package }}
core_version_requirement: ^8 || ^9

libraries:
  - {{ machine_name }}/global-css
  - {{ machine_name }}/global-js

regions:
  header: Header
  primary_menu: Primary menu
  secondary_menu: Secondary menu
  highlighted: Highlighted
  breadcrumb: Breadcrumb
  title: Title
  content: Content
  content_bottom: Content bottom
  footer: Footer
  bottom: Page bottom
  # The page_top and page_bottom regions are hidden, which means they will not
  # show up on the block layout page. But they are required in order for the
  # html.html.twig to work properly, so do not delete them.
  page_top: 'Page top'
  page_bottom: 'Page bottom'
